.user-form{
    max-width: max-content;
    display: grid;
    justify-content: center;
    
   
}
.user-form > h3{
    text-align: center;
    margin: 10px 0px;
}
.row{
    text-align: left;
    padding: 0.5em;
}
body{
    font: arial,serif;
}